body{
	padding: 0;
	margin: 0;
	background:url(back3.jpg);
    background-size: cover;
	font-family: sans-serif;
    

}
.LoginBox{
    height:520px;
    width:400px;
    background: #00968857;
    color:#fff;
    position:absolute;
    transform:(-50%,-50%);
    box-sizing:border-box;
    border-color: beige;
    top:10%;
    left:35%;
    
}
h6{
   
    margin:30px;
    display:inline-block;
    width:100%
    text-align:center;
    font-size:18px;
    border:1px solid #fff ;
    border-radius: 20%;
   

    



}
h2{
    margin:0px;
    padding: 0px,20px;
    text-align: center;
    
}
.loginbox p{
    margin 0;
    padding:0;
    text-align: center;
}
.form input[type="text"],input[type="password"]{
    
    
    margin-left:20px;
    color:gray;
  
    width:80%;
    height:40px;
    
    
}
.fuwan input[type="submit"]{
    
    margin-left:20px;
    color:white;
    background:#ff7f50ad;
    width:80%;
    height:40px;
    font-weight: bold;
    font-size:16px;
    
    
}
.fuwan input[type="button"]{
    
    margin-left:20px;
    color:white;
    background:#d2691ead;
    width:80%;
    height:40px;
    font-weight: bold;
    font-size:16px;
    
}
.footer input[type="Submit"]{
    margin-left:20px;
    color:white;
    background:transparent;
    text-align: center;
    font-size: 18px;
    width:80%;
    height:40px;
    
}
.
